<div class="alert alert-info"><strong>NOTE:</strong> Typically we will just be either reading csv files directly or using pandas-datareader to pull data from the web. Consider this lecture just a quick overview of what is possible with pandas (we won't be working with SQL or Excel files
)</div>

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

## CSV
Comma Separated Values files are text files that use commas as field delimeters.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>xlrd</tt> and <tt>openpyxl</tt>.<br>
In your terminal/command prompt run:

    conda install xlrd
    conda install openpyxl

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

### CSV Input

In [2]:
df = pd.read_csv('example.csv') # PC path: "C://Users/Engin/Desktop/GMT492/Week3/example.csv"
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [4]:
newdf = df[["a","b"]]
newdf

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [5]:
newdf.to_csv('example_2.csv',index=False)

## Excel
Pandas can read and write MS Excel files. However, this only imports data, not formulas or images. A file that contains images or macros may cause the <tt>.read_excel()</tt>method to crash.

### Excel Input

In [7]:
df = pd.read_excel('D:/HACETTEPE/4.sınıf/Güz Dönemi/Geomatik Mühendisliğinde Özel Konular/Pandas_Files/Excel_Sample.xlsx',sheet_name='Sheet1')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
newdf = df[["a","b"]]
newdf

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

### Excel Output

In [10]:
newdf.to_excel('Excel_Sample2.xlsx',sheet_name='Sheet1')

## HTML
Pandas can read table tabs off of HTML.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>lxml</tt>, <tt>htmllib5</tt>, and <tt>BeautifulSoup4</tt>.<br>
In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install beautifulsoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

In [ ]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
pip install html5lib

Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.15.0)

In [ ]:
pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [ ]:
path = "https://www.epncb.oma.be/_networkdata/stationlist.php"

mylist_of_tables = pd.read_html(path)

In [ ]:
type(mylist_of_tables)

list

In [ ]:
len(mylist_of_tables)

16

In [ ]:
df=mylist_of_tables[1]
df

          Name          City Country  ...  IGS  ITRF2014  IGS14
0    ACOR00ESP      A Coruna     ESP  ...  NaN  ITRF2014    NaN
1    ADAR00GBR     Aberdaron     GBR  ...  NaN       NaN    NaN
2    AJAC00FRA       Ajaccio     FRA  ...  IGS  ITRF2014  IGS14
3    ALAC00ESP      Alicante     ESP  ...  NaN  ITRF2014    NaN
4    ALBA00ESP      Albacete     ESP  ...  NaN       NaN    NaN
..         ...           ...     ...  ...  ...       ...    ...
357  ZIM200CHE    Zimmerwald     CHE  ...  IGS  ITRF2014  IGS14
358  ZIMM00CHE    Zimmerwald     CHE  ...  IGS  ITRF2014  IGS14
359  ZOUF00ITA    Cercivento     ITA  ...  NaN       NaN    NaN
360  ZPRS00UKR  Zaporizhzhia     UKR  ...  NaN       NaN    NaN
361  ZYWI00POL        Zywiec     POL  ...  NaN       NaN    NaN

[362 rows x 18 columns]

____