# Pandas Homework
Time to test your new pandas skills! Use the <tt>population_by_county.csv</tt> file in the WEB to complete the tasks given below


<div class="alert alert-danger" style="margin: 10px"><strong>IMPORTANT NOTE!</strong> Make sure you don't run the cells directly above the example output shown, otherwise you will end up writing over the example output!</div>

#### 1. Import pandas and read in the <tt>population_by_county.csv</tt> file into a dataframe called <tt>pop</tt>.

#### Path of the file https://raw.githubusercontent.com/gupta24789/Machine-Learning-Datasets/master/population_by_county.csv

In [1]:
import pandas as pd

In [2]:
pop=pd.read_csv('population_by_county.csv')

In [3]:
pop

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

#### 2. Show the head of the dataframe

In [4]:
pop.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

In [ ]:
# DON'T WRITE HERE

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

#### 3. What are the column names?

In [5]:
pop.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

In [ ]:
# DON'T WRITE HERE

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

<strong>4. How many States are represented in this data set?</strong> <em>Note: the data includes the District of Columbia</em>

In [6]:
pop['State'].nunique()

51

In [ ]:
# DON'T WRITE HERE

51

#### 5. Get a list or array of all the states in the data set.

In [7]:
pop['State'].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

In [ ]:
# DON'T WRITE HERE

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [8]:
pop_county = pop['County'].value_counts()
pop_county.head()

Washington County    30
Jefferson County     25
Franklin County      24
Jackson County       23
Lincoln County       23
Name: County, dtype: int64

In [ ]:
# DON'T WRITE HERE

Washington County    30
Jefferson County     25
Franklin County      24
Jackson County       23
Lincoln County       23
Name: County, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [9]:
pop_sort = pop.sort_values(by='2010Census',ascending=False)
pop_sort.head()

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

In [ ]:
# DON'T WRITE HERE

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [10]:
pop_state=pop.groupby('State').sum()
pop_stt = pop_state.sort_values(by='2010Census',ascending=False)
pop_stt.head()

            2010Census  2017PopEstimate
State
California    37253956         39536653
Texas         25145561         28304596
New York      19378102         19849399
Florida       18801310         20984400
Illinois      12830632         12802023

In [ ]:
# DON'T WRITE HERE

            2010Census  2017PopEstimate
State
California    37253956         39536653
Texas         25145561         28304596
New York      19378102         19849399
Florida       18801310         20984400
Illinois      12830632         12802023

#### 9. How many Counties have 2010 populations greater than 1 million?

In [11]:
pop_greater = pop['2010Census']>1000000
pop_greater.sum()

39

In [ ]:
# DON'T WRITE HERE

39

#### 10. How many Counties don't have the word "County" in their name?

In [12]:
pop_con = pop[~pop["County"].str.contains("County")]
pop_con['County'].nunique()

135

In [ ]:
# DON'T WRITE HERE

135

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [13]:
pop['PercentChange'] = 100 * (pop['2017PopEstimate']/pop['2010Census'] - 1)
pop.head()

,County,State,2010Census,2017PopEstimate,PercentChange
0,Abbeville County,South Carolina,25417,24722,-2.734390
1,Acadia Parish,Louisiana,61773,62590,1.322584
2,Accomack County,Virginia,33164,32545,-1.866482
3,Ada County,Idaho,392365,456849,16.434697
4,Adair County,Iowa,7682,7054,-8.174954

In [ ]:
# DON'T WRITE HERE

,County,State,2010Census,2017PopEstimate,PercentChange
0,Abbeville County,South Carolina,25417,24722,-2.734390
1,Acadia Parish,Louisiana,61773,62590,1.322584
2,Accomack County,Virginia,33164,32545,-1.866482
3,Ada County,Idaho,392365,456849,16.434697
4,Adair County,Iowa,7682,7054,-8.174954

<strong>Bonus: What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?</strong><br>This will take several lines of code, as it requires a recalculation of PercentChange.

In [18]:
pop_state=pop.groupby('State').sum()
pop_state['PercentChange'] = 100 * (pop_state['2017PopEstimate']/pop_state['2010Census'] - 1)
pop_sorted = pop_state.sort_values(by='PercentChange',ascending=False)
pop_sorted.head()

                      2010Census  2017PopEstimate  PercentChange
State
District of Columbia      601723           693972      15.330808
Texas                   25145561         28304596      12.562993
North Dakota              672591           755393      12.310899
Utah                     2763885          3101833      12.227282
Florida                 18801310         20984400      11.611372

In [ ]:
# DON'T WRITE HERE

                      2010Census  2017PopEstimate  PercentChange
State
District of Columbia      601723           693972      15.330808
Texas                   25145561         28304596      12.562993
North Dakota              672591           755393      12.310899
Utah                     2763885          3101833      12.227282
Florida                 18801310         20984400      11.611372

**Upload this file with your answers until 13.10.2021 - 23:59**